body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p,h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.img{
    display: block;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0  auto;

}
/* --header */
.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.navigation {
display: flex;
align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
}
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}
.header-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    }
.header-menu-list{
    display: flex;
    gap: 40px;
}
.header-menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus{
    color:#404bbf;
    
}
.current {
    position: relative;
    color: #404bbf;

}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:#404bbf ;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
    
}
.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus{
color: #404bbf;
}
/* hero */
.hero {
background-color: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 188px 0;
margin: 0 auto;
max-width: 1440px;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
background-color: #404bbf;
}
/* -----features */
.features {
    background-color: #ffffff;
    padding: 120px 0;
}
.features-icon {
    fill: #2e2f42;;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-item {
    background-color: #ffffff;
    list-style-type: none;
    display: inline-block;
    width: calc((100% - 3 * 24px) / 4) 
}

.features-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
/* -----team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1440px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.team-img {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    max-width: 100%;
    height: auto
}
.team-container {
    padding: 32px 0;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    align-items: center;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}
.team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    fill: #f4f4fd;
}
.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    width: calc((100% - 3 * 24)/4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icon:hover,
.team-link-icon:focus{
    background-color:#404bbf;;
}
.team-item-icon{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    background: #fff;
    width: calc((100% - 2 * 24px) / 3);
    text-align: left;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover-text{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}
.portfolio-img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-cover-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
/* ----footer  */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.container-logo {
    margin-right: 120px;
}

.footer-social-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

}
.footer-social-icon {
    list-style: none;
    width: 208px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31d0aa;}

.footer-list {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer {
    fill: #f4f4fd;
}
.footer-sub-form {
    width: 453px;
    height: 80px;
    margin-left: 80px;
    
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-label {
    
}
.footer-sub-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.input-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    display: flex;
    padding-left:  16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.input-footer::placeholder {
    color: #fff;
}
.btn-footer {
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer:hover,
.btn-footer:focus {
background-color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
    fill: #fff;
    margin-left: 16px;
}
/* ---------backdrop------ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover >.modal-close-icon,
.modal-close:focus >.modal-close-icon {
    fill: #ffffff
}
.modal-title {
    text-align: center;
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding-left: 38px;
    color: #2e2f42;
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-field-wrap {
    position: relative;
}
.modal-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    color: #2e2f42;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover,
.modal-text:focus {
    border-color: #4D5AE5;
    }
.modal-field-comment{
    margin-bottom: 16px
    }
    
.modal-field-checkbox {
    margin-bottom: 24px;
    }
.modal-text-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}
.modal-text-checkbox span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    /* display: flex; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.modal-check:checked + .modal-text-checkbox > .span-pivacy {
    border: none;
    fill: #f4f4fd;
    background-color: #404bbf;
}
.check-icon {
    fill: #f4f4fd;
}
.form-btn {
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus{
background-color: #404bbf;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.span-pivacy {
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
